<h2>{{ client.reputation }}</h2>
<h2>{{ client.description }}</h2>
<h2>{{ client.domains }}</h2>
<h2>{{ client.words }}</h2>

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 300px;
 margin: auto;
 text-align: center;
 font-family: arial;
}

.title {
 color: grey;
 font-size: 18px;
}

button {
 border: none;
 outline: 0;
 display: inline-block;
 padding: 8px;
 color: white;
 background-color: #000;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
}

a {
 text-decoration: none;
 font-size: 22px;
 color: black;
}

button:hover, a:hover {
 opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
 <img src="{{ client.photo }}" alt="John" style="width:100%">
 <h1><h1>{{ client.user }}</h1></h1>
 <p class="title">CEO & Founder, Example</p>
 <p>{{ client.description }}</p>
 <div style="margin: 24px 0;">
</div>
<p><button>Contact</button></p>
</div>

</body>
</html>
