<h1>{{ question.question }}</h1>
<p>{{ question.id }}</p>
<form action="{% url 'forum:favourite' question.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Favourite"><br>
</form>


{% for answer in question.question_ans.all %}
  <p>{{ answer.answer }}</p>
  <p>{{ answer.answer_votes.count }}</p>
  <form action="{% url 'forum:vote' answer.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Vote"><br>
  </form>
  {% for comment in answer.comments.all %}
    <p>{{ comment.comment }}</p>
  {% endfor %}
  <a href="{% url 'forum:add_comment' answer.id %}">Add comment</a>
{% endfor %}
<h1>Add answer</h1>
<form action="{% url 'forum:add_answer' question.id %}" method="post">
  {% csrf_token %}
  Answer <input type="text" name="answer"><br>
  <input type="submit" value="Submit Answer"><br>
</form>
